{% extends "layout.html" %}

{% block title %}Mis Favoritos - Actividades Turísticas{% endblock %}

{% block content %}
    <h1>Mis Actividades Favoritas</h1>
    {% if activities %}
        <ul class="activities-list">
            {% for activity in activities %}
            <li>
                <h2><a href="{{ url_for('activity', id=activity.id) }}">{{ activity.name }}</a></h2>
                <p>{{ activity.description[:100] }}...</p>
                <p>Ubicación: {{ activity.location }}</p>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aún no has agregado ninguna actividad a tus favoritos.</p>
    {% endif %}
{% endblock %}